<div class="container-fluid mb-4">
  <h1 class="display-2 mb-4">Party</h1>
  <app-main-form
    (handleCreate)="handleMainFormCreate($event)"
    (handleEdit)="handleMainFormEdit($event)"
    (handleCancel)="handleMainFormCancel()"
    [party]="mainFormParty"
  ></app-main-form>
  <hr *ngIf="parties.length > 0">
  <app-main-grid
    *ngIf="parties.length > 0"
    [parties]="parties"
    (handleEdit)="handleMainGridEdit($event)"
    (handleDelete)="handleMainGridDelete($event)"
  ></app-main-grid>
</div>